* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../assets/img/login_background_2.png") no-repeat center;
    background-size: 110%;
}

.header {
    width: 100%;
    height: 60px;
    display: block;
    background-color: white;
}

.left-header {
    float: left;
    width: 30%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container {
    float: left;
    height: 100%;
    display: table;
}

.logo-container h1 {
    padding-left: 8%;
    color: #101010;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 200;
}

.logo-container h1 span {
    font-weight: 800;
}

.right-header {
    float: right;
    width: 25%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.navigation {
    height: 100%;
    float: left;
    display: table;
    padding: 0px 50px;
}

.navigation li {
    padding-left: 5%;
    color: #101010;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    font-family: 'Montserrat';
}

.picture-container {
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.picture_2 {
    height: 40px;
    width: 45px;
    margin-top: 20%;
    margin-left: 30%;
    
}

.info-container {
    height: 100%;
    width: 25%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.info {
    margin-top: 3%;
}
input{
    position: static;
    top:-180%;
    left: 180%;
    height: 100%;
}
.icon-container {
    float: left;
    height: 20%;
    position: relative;
}

.icon-container input {
    position: absolute;
    z-index: 10;
    bottom: 20%;
    border:0;
}

.icon-container input:hover {
    cursor: pointer;
}
#toggle{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.fa-solid:checked{
    transform: rotate(180deg);
}
nav ul{
    position: relative;
    background: #ece5da;
    z-index: 11;
    list-style: none;
    overflow: hidden;
    width: 110%;
    top:-80%;
    right: -90%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-right: 1vw;
  }
  nav ul li {
    border-radius: 2px;
    position:relative;
    z-index: 11;
    line-height: 1;
    height: 1;
    width: 100%;
    margin-bottom: 0.25vh;
    background:#ece5da;
    transition: background 3s;
    display: inline-block;
    font-family: 'Montserrat';
  }
 #toggle:checked ~ ul{
     visibility: hidden;
     opacity: 0;
 }
 #toggle:not(:checked) ~ ul {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
.dropdown-item-div{
    text-align: center;
}
.list {
    background-color: white;
    width: 25%;
    height:90vh;
    border-radius: 15px;
    z-index:10;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}
.list-item{
    width:96%;
    height : 4vh;
    line-height : 4vh;
    border-radius: 2px;
    z-index:10;
    margin:1.2%;
    text-align: left;
    background-color: #ADD8E6;
    font-family: 'Montserrat';
}

.MainContainer {
    /*background: linear-gradient(to right,#c6c5dd, #e5e6f0);*/
    -webkit-mask-image: radial-gradient(square, transparent 40%, black 41%);
    align-content: center;
    display: flex;
    gap:10%;
    margin-left :2.5%;
    margin-right :2.5%;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    z-index: 8;
}

.LoginContainer {
    background-color: rgb(255, 255, 255);
    width: 40%;
    border-radius: 15px;
    text-align: center;
    z-index:10;
}

.LoginContainer th {
    font-size: 20px;
}

.LoginContainer img {
    width: 65%;
    height: 65%;
}

.botaoChamada {
    color: white;
    width: 30%;
    height: 80px;
    background-color: #4066f0;
    border-radius: 5px;
    border: none;
}

.botaoChamada2 {
    color: white;
    width: 30%;
    height: 80px;
    background-color: #4066f0;
    border-radius: 5px;
    border: none;
}

.botaoChamada:hover, .botaoChamada2:hover {
    background-color: #0f43ff;
    cursor: pointer;
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.botaoChamada3 {
    color: white;
    width: 50%;
    height: 60px;
    margin-top: 1%;
    background-color: #d98a4a;
    border-radius: 5px;
    border: none;
}

.botaoChamada3:hover {
    background-color: #eb7b1f;
    cursor: pointer;
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #d98a4a 0 -3px 0 inset;
    transform: translateY(-2px);
}

.botaoLogin {
    color: white;
    width: 70%;
    margin-top: 50px;
    background-color: #4066f0;
    border-radius: 5px;
    border: none;
}

.botaoLogin:hover {
    background-color: #0f43ff;
    cursor: pointer;
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}
.mensagemLogado{
    margin-top: 10%;
    display:flex;
    justify-content: center;
}

th{
    font-size: x-large;
}
td{
    font-size: larger;
}